networks:
  traefik-net:
    external: true
  mosquitto-net:
    external: true

services:
  postgres:
    hostname: postgres
    image: postgres:${POSTGRES_VERSION:?}
    restart: unless-stopped

    security_opt:
    - no-new-privileges=true
    user: "${USER_ID:?}:${GROUP_ID:?}"

    networks:
    - default
    volumes:
    - ./data/postgres/var/lib/postgresql:/var/lib/postgresql:rw

    environment:
      POSTGRES_DB: teslamate
      POSTGRES_USER: tmate
      POSTGRES_PASSWORD: 'db~pass'

    healthcheck:
      test: "psql -U $$POSTGRES_USER -d $$POSTGRES_DB -c 'SELECT 1'"
      interval: 15s
      timeout: 3s
      start_period: 30s

  teslamate:
    hostname: teslamate
    image: teslamate/teslamate:${TESLAMATE_VERSION:?}
    restart: unless-stopped

    cap_drop:
    - all
    security_opt:
    - no-new-privileges=true
    user: "${USER_ID:?}:${GROUP_ID:?}"

    depends_on:
      postgres:
        condition: service_healthy

    networks:
    - default
    - mosquitto-net
    - traefik-net
    volumes:
    - ./data/teslamate/opt/app/import:/opt/app/import:rw

    environment:
      ENCRYPTION_KEY: 'enc_key!'
      DATABASE_USER: tmate
      DATABASE_PASS: 'db~pass'
      DATABASE_NAME: teslamate
      DATABASE_HOST: postgres
      MQTT_HOST: mosquitto
      URL_PATH: '/${TESLAMATE_BASE_PATH:?}'
      TZ: ${TZ:?}

    healthcheck:
      test: "nc -z localhost 4000"
      interval: 15s
      timeout: 2s
      start_period: 60s
