networks:
  frigate-net:
    external: true
  mosquitto-net:
    external: true

services:
  hass:
    hostname: hass
    image: padhihomelab/hass:${HASS_VERSION:?}
    restart: unless-stopped

    security_opt:
    - no-new-privileges=true

    networks:
    - frigate-net
    - mosquitto-net
    volumes:
    - ./config/hass/etc/cont-init.d:/etc/cont-init.d:ro
    - ./data/hass/config:/config:rw
    - ./data/hass/media:/media:rw
    - /etc/localtime:/etc/localtime:ro
    # NOTE: Necessary for bluetooth integration
    - /run/dbus:/run/dbus:ro

    environment:
      DOCKER_UID: ${USER_ID:?}
      DOCKER_GID: ${GROUP_ID:?}
      TZ: ${TZ:?}
      # FIXME: `aarch64` uv wheel seems to be missing at:
      #        https://wheels.home-assistant.io/musllinux-index/uv/
      UV_INDEX_STRATEGY: unsafe-best-match
