networks:
  traefik-net:
    external: true
  mosquitto-net:
    external: true

services:
  hass:
    hostname: hass
    image: padhihomelab/hass:${HASS_VERSION:?}
    restart: unless-stopped

    security_opt:
    - no-new-privileges=true

    networks:
    - traefik-net
    - mosquitto-net
    volumes:
    - ./data/hass/config:/config:rw
    - ./data/hass/media:/media:rw
    # NOTE: Necessary for bluetooth integration
    - /run/dbus:/run/dbus:ro
    - ./config/hass/etc/cont-init.d:/etc/cont-init.d:ro

    environment:
      TZ: ${TZ:?}
      DOCKER_UID: ${USER_ID:?}
      DOCKER_GID: ${GROUP_ID:?}
