version: '2.4'

volumes:
  netdata_lib:
    driver_opts:
      type: tmpfs
      device: tmpfs
  netdata_cache:
    driver_opts:
      type: tmpfs
      device: tmpfs

services:
  caddy:
    hostname: caddy
    image: caddy:2.3.0
    restart: unless-stopped
    user: ${USER_ID:?}

    depends_on:
    - netdata
  
    volumes:
    - ./config/caddy/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
    - ./data/caddy/data:/data:rw
    - ./data/caddy/config:/config:rw

    environment:
      TZ: ${TZ:?}

    healthcheck:
      test: ["CMD", "wget", "-qSO", "/dev/null", "http://localhost:2019/config"]
      interval: 10s
      timeout: 2s
      retries: 3
      start_period: 5s

  docker.sock-proxy:
    hostname: docker.sock-proxy
    image: padhihomelab/docker.sock-proxy:2.3
    restart: unless-stopped

    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro

    environment:
      CONTAINERS: '1'
      TZ: ${TZ:?}

  netdata:
    hostname: ${HOST_NAME:?}
    image: padhihomelab/netdata:1.28.0
    restart: unless-stopped

    depends_on:
    - docker.sock-proxy

    volumes:
    - netdata_lib:/var/lib/netdata:rw
    - netdata_cache:/var/cache/netdata:rw
    - ./config/netdata/etc/netdata/charts.d.conf:/etc/netdata/charts.d.conf:ro
    - ./config/netdata/etc/netdata/netdata.conf:/etc/netdata/netdata.conf:ro
    - /etc/group:/host/etc/group:ro
    - /etc/os-release:/host/etc/os-release:ro
    - /etc/passwd:/host/etc/passwd:ro
    - /proc:/host/proc:ro
    - /sys:/host/sys:ro
    - /var/lib/smartmontools:/var/log/smartd:ro
    - /var/log/fail2ban.log:/var/log/fail2ban.log:ro

    cap_add:
    - SYS_PTRACE
    environment:
      DO_NOT_TRACK: '1'
      DOCKER_HOST: docker.sock-proxy:1279
      TZ: ${TZ:?}
    security_opt:
    - apparmor:unconfined
