networks:
  frigate-net:
    external: true
  mosquitto-net:
    external: true
  traefik-net:
    external: true

services:
  frigate:
    hostname: frigate
    image: ghcr.io/blakeblackshear/frigate:${FRIGATE_VERSION:?}
    restart: unless-stopped

    shm_size: "512mb"

    networks:
    - frigate-net
    - mosquitto-net
    - traefik-net
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - ./data/frigate/config:/config:rw
    - ./data/frigate/media:/media:rw

    environment:
      TZ: ${TZ:?}

    healthcheck:
      test: ["CMD", "curl", "-f", "http://frigate:5000/api/stats"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 30s
